/**
 * Admin toolbar icon.
 */
.toolbar-icon-quiz-maker-admin:before {
  -webkit-mask-image: url(../images/icon.svg) !important;
}

.toolbar-icon-quiz-maker-admin.is-active:before {
  -webkit-mask-image: url(../images/icon.svg) !important;
}

.matching-form {
  display: flex;
  width: 100%;
}

.matching-form > div {
  width: 100%;
}

.matching-form .tabledrag-changed-warning,
.matching-form .tabledrag-changed,
.matching-form .tabledrag-toggle-weight-wrapper {
  display: none !important;
}

.quiz-take-form .form-item__label {
  display: inline-block !important;
}

.quiz-take-form td {
  display: flex;
  align-items: center;
}

.result-info-table {
  width: 100%;
  text-align: left;
}