<div class="matching-answer">
  {{ matching_question|raw }}&nbsp;<img class="arrow" src="{{ base_path ~ '/modules/custom/quiz_maker/icons/right-arrow.svg' }}" alt="right-arrow">&nbsp;{{ matching_answer|raw }}
</div>